.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
}

.cards-grid > div {
  border-radius: var(--border-radius-standard);
  background-color: var(--accent-bg);
}

.cards-grid > div > div {
  padding: 1rem;
}

.cards-grid img {
  border-top-left-radius: var(--border-radius-standard);
  border-top-right-radius: var(--border-radius-standard);
}

.cards-grid ul {
  margin: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}